.inventory {
    margin-top: 15px;
    width:100%; 
    font-size: 500%;
    font-weight: lighter;
    box-shadow: 4px;
    font-family: sans-serif;
}
.frsli {
	background: lightgrey;
	padding: 25px;
}
.secli{
	background: white;
	padding: 25px;
}
#toolbar {
	width: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	background: white;
	left: 0;
	height: 7%;
}
#top {
	height: 85px;    
    width: 93.5%;
    white-space: nowrap;
    text-align: center; 
    margin: 0;
    background-color: white;
    padding: 30px;
    max-width: 93.5%;
}
body {
	margin: 20px;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
img {
    vertical-align: middle;
    max-height: 80px;
    max-width: 80px;
}
.home{
	margin: 5% 33%;
}
.create {
	font-size: 300%;
	background-color: red;
	border-radius: 15px;
	color: white;
}